<div id="landing-page">
<div class="container">

  <div class="about-content">
    <h2 id="new-header">Welcome!</h2>
    <p>Key Coder contains 5 levels where you'll type code as quickly and as accurately as you can. When you finish, the code you typed will render and create a customized profile page for you, where you can keep track of your scores and learn more about the code you just typed.</p>
    <p>Don't know how to code? No problem! Just type what you see on the screen. We'll do all the fancy stuff for you.</p>
    <p>Ready? Create an account or log in as a guest to get started. Already have an account? <a href="/login">Login</a></p>
  </div>

  <div class="account-options">
    <div class="create-account">
      <a href="/users/new"><h3  class="get-started">Create Account</h3></a> <span class="recommended">(recommended)</span>

      <p>Creating an account takes moments and allows you to:</p>
      <ul>
          <li>Code a Customized Profile</li>
          <li>Save Your Progress</li>
      </ul>
    </div>

    <div class="guest-account">
      <a href="/level_one"><h3 class="get-started">Guest Account</h3></a>
      <p>Start playing immediately.</p>
      <ul>
          <li>No Saves</li>
          <li>No Customized Profile</li>
      </ul>
    </div>
  </div>

</div>
</div>
