<div id="landing-page">
  <div id="landing-content">
    <h1 id="main-title">Key Coder</h1>
    <p id="subtitle">Type fast. Learn code.</p>
    <% if current_user %>
      <a href="/users/<%=current_user.id%>" class="get-started">Get Started!</a>
    <% else %>
      <a href="/about" class="get-started">Get Started!</a>
    <% end %>
  </div>
</div>
