<div class="container">
  <a class="redo" href="/level_three">&larr; Redo Level 3</a>
  <a class="continue" href="/users/<%=current_user.id%>">Continue to Profile &rarr;</a>
  <div class="learn_intro">
    <h2>Learning the Level 4 Code</h2>
    <p>Below you can see the code you just typed in level 4.</p>
    <p class="click-to-learn">Click on any line below to learn more about it.</p>
  </div>
  <hr>

  <div class="learn_code_box">
  </div>

  <div class="about_code_box">
    <h3 class="about_code_box_title"></h3>
    <p class="about_code_box_paragraph"></p>
  </div>
</div>
