<div class="container">
  <a class="redo" href="/level_two">&larr; Redo Level 2</a>
  <a class="continue" href="/level_three">Continue to Level 3 &rarr;</a>
  <div class="learn_intro">
    <h2>Learning the Level 2 Code</h2>
    <p>Below you can see the code you just typed in level 2. This code all goes inside the &lt;body&gt; tags you typed in lesson 1 and gives the site some content.</p>
    <p class="click-to-learn">Click on any line below to learn more about it.</p>
  </div>
  <hr>

  <div class="learn_code_box">
    <p class="code div-tag">&lt;div class='container'&gt;</p>
    <p class="code indent-one h-tag">&lt;h2&gt;</p>
    <p class="code indent-two erb-tag">&lt;&#37;&#61; &#64;user.name &#37;&gt;'s Page</p>
    <p class="code indent-one h-tag">&lt;/h2&gt;</p>
    <p class="code indent-one a-tag">&lt;a href='&lt;&#37;&#61; &#64;user.id &#37;&gt;/edit' id='edit-profile'&gt;</p>
    <p class="code indent-two span-tag">&lt;span&gt;~Edit Profile~&lt;/span&gt;</p>
    <p class="code indent-one a-tag">&lt;/a&gt;</p>
    <p class="code indent-one img-tag">&lt;img src='&lt;&#37;&#61; &#64;user.image &#37;&gt;' id&#61;'profile-pic'&gt;</p>
    <p class="code indent-one p-tag">&lt;p&gt;&lt;&#37;&#61; &#64;user.description &#37;&gt;&lt;/p&gt;</p>
    <p class="code indent-one hr-tag">&lt;hr&gt;</p>
    <p class="code div-tag">&lt;/div&gt;</p>
  </div>

  <div class="about_code_box">
    <h3 class="about_code_box_title"></h3>
    <p class="about_code_box_paragraph"></p>
  </div>
</div>



