<div class="container">
  <div class="code-challenge-area" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <h2 id="level-header">Level 5</h2>
        <p>Type the following code:</p>
        <div id="lines">
          <code id="main-line"></code><br>
          <code id="second-line"></code><br>
          <code id="third-line"></code><br>
        </div>
          <br><br>
        <form>
          <input id="challenge-box" rows="5" cols="80" style="height:100px;width:400px;" placeholder="Click Here to Begin" autofocus="autofocus">
          </input>
        </form>
        <br>
        Timer: <label id="minutes">00</label>:<label id="seconds">00</label>
        <br>
        Errors: <label id="errors"></label>
      </div>


      <div class="back">
        <h2>Congrats!</h2>
        <p>You cleared level 5!</p>
        <p><span class="final-time">Time: </span><br>
        <span class="final-errors">Errors: </span>
        <hr class="half-hr">
        <p>You've completed all 5 levels! You're an all-star!</p>
        <p>Options:</p>
        <ol>
            <li><a href="/learn_five">LEARN</a><br>What's all this gibberish I just typed?</li><br>
            <li><a href="/users/<%= current_user.id %>">RENDER PROFILE</a><br>Check out the custom profile you just coded.</li>
        </ol>
      </div>

    </div>
  </div>

  <div class="code-render-area">
    <code class="rendered-code"></code>
  </div>
</div>
