/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  padding: 0;
  margin: 0;
  font-family: "cardo";
}

#navbar {
  background-color: black;
  text-align: right;
  padding-right: 10%;
  height: 40px;
  padding-top: 20px;
}

#navbar a {
  color: white;
  padding-left: 15px;
  text-decoration: none;
}


/* INCLUDED ON SHOW PAGE */
.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
/*  */

#landing-page {
  background-image: url('background1.jpg');
  background-size: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#landing-content {
  font-family: "courier";
  padding-top: 120px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#main-title {
  font-weight: 500;
  font-size: 96px;
  margin: 0;
  color: black;
}

#subtitle {
  color: black;
  font-size: 24px;
}

.get-started {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px;
  background-color: red;
  border-radius: 20px;
  border: solid black 2px;
}

.code-challenge-area {
  width: 60%;
  padding-top: 70px;
  perspective: 1000px;
  float: left;
}

.code-render-area {
  width: 40%;
  float: right;
  padding-top: 70px;
  perspective: 1000px;
}

.code-challenge-area h2 {
  margin-top: 0;
}

.signup-box {
  position: relative;
  top: 100px;
  padding: 20px;
  width: 500px;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  margin: 0 auto;
}

#new-header {
  margin-top: 0;
}


/* profile stuff */
#profile-pic-div {
  margin-top: 80px;
  width: 50%;
  float: left;
  text-align: center;
}

#profile-pic {
  width: 400px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 50px;
}

#profile-personal {
  margin-top: 80px;
  width: 42%;
  float: right;
}

#profile-personal h2 {
  margin-top: 0;
  display: inline;
  float: left;
}

#edit-profile {
  display: inline-block;
  margin-top: 8px;
  margin-left: 20px;
  font-size: 12px;
  text-decoration: none;
}

#profile-personal p {
  clear: both;
}

.half-hr {
  width: 50%;
  margin-left: 0;
}

/* end profile stuff */


/* code for flipping over div */

/* flip speed goes here */
.flipper {
  transition: 1s;
  transition-delay: 0.4s;
  transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
/* end flip */




/* learn code area */
.learn_intro {
  padding-top: 50px;
}

.continue {
  padding-top: 40px;
  text-decoration: none;
  float: right;
}

.redo {
  padding-top: 40px;
  text-decoration: none;
  float: left;
}

.click-to-learn {
  color: red;
}

.learn_code_box {
  padding-top: 15px;
  font-family: monospace;
  width: 40%;
  float: left;
}

.about_code_box {
  width: 50%;
  float: right;
}

.code:hover {
  cursor: pointer;
  color: red;
}

.indent-one {
  padding-left: 30px;
}

.indent-two {
  padding-left: 60px;
}

/* About Page Stuff */

.about-content {
  margin: 0 auto;
  width: 650px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.about-content h2 {
  font-size: 60px;
  text-align: center;
  font-family: "courier";
  margin-bottom: 0px;
}

.account-options {
  width: 700px;
  margin: 0 auto;
}

.create-account, .guest-account {
  width: 200px;
  height: 280px;
  padding: 20px 50px;
  float: left;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.guest-account {
  margin-left: 80px;
}

.recommended {
  font-size: 12px;
}
